<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">Startup</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>



<section class="contacts-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Welcome Back</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <%= form_tag(session_path) do %>
                <form>
                    <p>
                      <%= label_tag :email %>
                      <%= email_field_tag :email, nil, autofocus: true, class: "form-control" %>
                    </p>
                    <br/>
                    <p>
                      <%= label_tag :password %>
                      <%= password_field_tag :password, nil, class: "form-control" %>
                    </p>
                    <br/>
                    <p>
                      <%= submit_tag "Sign In", class: "btn btn-primary" %>
                    </p>
                </form>
                <% end %>
            </div>
            
        </div>
    </div>
</section>
