<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">Startup</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <form class="navbar-form pull-left">
                        <a class="btn btn-success" href="#">Buy Now</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>

<h1>Sign In</h1>

<%= form_tag(session_path) do %>
  <p>
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, autofocus: true %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil %>
  </p>
  <p>
    <%= submit_tag "Sign In" %>
  </p>
<% end %>