
<h1>Edit Account</h1>

<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :name %></br>
    <%= f.text_field :name, size: 40, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %></br>
    <%= f.email_field :email, size: 40 %>
  </p>
  <p>
    <%= f.label :password %></br>
    <%= f.password_field :password, size: 40 %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %></br>
    <%= f.password_field :password_confirmation, size: 40 %>
  </p>
  <p>
    <%= f.label :about %></br>
    <%= f.text_field :about, size: 40, autofocus: true %>
  </p>
  <p>
    <%= f.submit "Update Account" %>
  </p>
<% end %>
