<h1><%= @post.title %></h1>
<br/>
<h3><%= @post.link %></h3>
<br/>
<h3><%= @post.description %></h3>
<br/>
<h4>Number of upvotes: <%= @post.upvotes %></h4>
<%= link_to "Back to Posts", posts_path %> |
<%= link_to "Edit Post", edit_post_path(@post) %> |
<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: 'Are you sure that you want to delete this?'} %>