<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <%= link_to 'Launchify', posts_path, class: "brand" %>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">USER</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>



<div class = 'container'>
	<br/>
	<br/>
	<div class="jumbotron">
		<h1><%= @post.title %></h1>
		<br/>
		<h3><%= link_to @post.link %></h3>
		<br/>
		<h3><%= @post.description %></h3>
		<br/>
		<p>
			<%= pluralize(@likers.size, 'like') %>
		</p>
		<% if !current_user?(@user) %>
			<% if @current_like %>
				<%= button_to "Unlike", post_like_path(@post, @current_like), method: :delete %>
			<% else %>
				<%= button_to "Like", post_likes_path(@post) %>
			<% end %>
		<% end %>
		<br/>
		<%= link_to "View Comments", post_comments_path(@post), id: "link" %> |
		<%= link_to "Add new Comment", new_post_comment_path(@post), id: "link" %>
		<br/>

		<%= link_to "Back to Posts", posts_path, id: "link" %> |
		<%= link_to "Edit Post", edit_post_path(@post), id: "link" %> |
		<%= link_to "Delete Post", post_delete_path %>
	</div>
	<br/>
	<br/>
	<br/>

	<section class="content-19">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="quote">
                    <div class="quote-text">
                        We have considered your needs in developing the html version of our UI Kit, which contains
                        elements.
                    </div>
                    <div class="quote-author">
                        <div class="quote-author-photo"></div>
                        <div class="quote-author-name">
                            VLADIMIR KUDINOV, DESIGNMODO
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="quote">
                    <div class="quote-author">
                        <div class="quote-author-photo"></div>
                        <div class="quote-author-name">@mc</div>
                    </div>
                    <div class="quote-date">25 MINUTES AGO</div>
                    <div class="quote-text">Easy to change and easy to create new elements with color.</div>
                </div>
                <div class="quote">
                    <div class="quote-author">
                        <div class="quote-author-photo"></div>
                        <div class="quote-author-name">@stSilent</div>
                    </div>
                    <div class="quote-date">1 HOUR AGO</div>
                    <div class="quote-text">Easy to change and easy to create new elements with color.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-19">
	<div class="container">
		<% @comments.each do |comment| %>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
        <div class="quote">
            <div class="quote-author">
                <div class="quote-author-photo"></div>
                <div class="quote-author-name"><%= link_to comment.user.name, comment.user %></div>
            </div>
            <div class="quote-date"><%= time_ago_in_words(comment.created_at)%> ago</div>
            <div class="quote-text"><%= comment.comment %></div>
        </div>
      </div>
		</div>
		<br/>
		<br/>
		<br/>
		<% end %>
	</div>
</section>
