<div class = 'container'>
	<br/>
	<br/>
	<div class="jumbotron">
		<h1><%= @post.title %></h1>
		<br/>
		<h3><%= @post.link %></h3>
		<br/>
		<h3><%= @post.description %></h3>
		<br/>
		<p>
			<%= pluralize(@likers.size, 'like') %>
		</p>
		<% if !current_user?(@user) %>
			<% if @current_like %>
				<%= button_to "Unlike", post_like_path(@post, @current_like), method: :delete %>
			<% else %>
				<%= button_to "Like", post_likes_path(@post) %>
			<% end %>
		<% end %>
		<br/>
		<%= link_to "View Comments", post_comments_path(@post), id: "link" %> |
		<%= link_to "Add new Comment", new_post_comment_path(@post), id: "link" %>
		<br/>

		<%= link_to "Back to Posts", posts_path, id: "link" %> |
		<%= link_to "Edit Post", edit_post_path(@post), id: "link" %> |
		<%= link_to "Delete Post", post_delete_path %>
	</div>


<div class="container">
	<div class="row">
		<h2>Comments</h2>
	</div>
		<% @comments.each do |comment| %>
    		<div class="qa-message-list" id="wallmessages">
				<div class="message-item" id="m16">
					<div class="message-inner">
						<div class="message-head clearfix">
							<div class="avatar pull-left"><%= image_tag "place_holder.jpg", height: '90', width: '70' %></div>
							<div class="user-detail">
								<h5 class="handle"><%= comment.name %></h5>
								<div class="post-meta">
									<div class="asker-meta">
										<span class="qa-message-what"></span>
										<span class="qa-message-when">
											<span class="qa-message-when-data"><%= time_ago_in_words(comment.created_at)%> ago</span>
										</span>
										<div class="qa-message-content">
											<%= comment.comment %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
