<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <%= link_to 'Launchify', posts_path, class: "brand" %>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">USER</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>

<header class="header-4 v-center bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="hero-unit">
                        <h1><%= @post.title %></h1>
                        <h4><%= link_to @post.link, "GOTONOWHERE" %></h4>
                        <br/>
                        <p><%= @post.description %></p>
                    </div>
                    <div class="hero-unit">
                        <p>
                            <%= pluralize(@likers.size, 'like') %>
                        </p>
                    </div>
                    
                    <% if !current_user?(@post.user) %>
                        <% if @current_like %>
                            <div class="btns">
                                <%= button_to "Unlike", post_like_path(@post, @current_like), class: "btn btn-large btn-primary", method: :delete %>
                            </div>
                        <% else %>
                            <div class="btns">
                                <%= button_to "Like", post_likes_path(@post), class: "btn btn-large btn-primary" %>
                            </div>
                        <% end %>
                    <% else %>
                        <%= link_to "Edit Post", edit_post_path(@post), id: "link", class: "btn btn-large btn-primary" %>
                        <%= link_to "Delete Post", post_delete_path, class: "btn btn-large btn-grey" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</header>

	<section class="content-19">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="quote">
                    <div class="quote-text">
                        <%= @post.description %>
                    </div>
                    <div class="quote-author">
                        <div class="quote-author-photo"></div>
                        <div class="quote-author-name">
                            <%= @post.user.name %>, FOUNDER
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="quote">
                    <div class="quote-author">
                        <div class="quote-author-photo"></div>
                        <div class="quote-author-name">@mc</div>
                    </div>
                    <div class="quote-date">25 MINUTES AGO</div>
                    <div class="quote-text">Easy to change and easy to create new elements with color.</div>
                </div>
                <div class="quote">
                    <div class="quote-author">
                        <div class="quote-author-photo"></div>
                        <div class="quote-author-name">@stSilent</div>
                    </div>
                    <div class="quote-date">1 HOUR AGO</div>
                    <div class="quote-text">Easy to change and easy to create new elements with color.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<div class="container">
    <%= render partial: "comments/form" %>
</div>
<section class="content-19">
	<div class="container">
		<% @comments.each do |comment| %>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
        <div class="quote">
            <div class="quote-author">
                <div class="quote-author-photo"></div>
                <div class="quote-author-name">
                    <%= link_to comment.user.name, comment.user %>
                    <% if current_user?(comment.user) %>
                        <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete %>
                    <% end %>
                </div>
            </div>
            <div class="quote-date"><%= time_ago_in_words(comment.created_at)%> ago</div>
            <div class="quote-text">
                <%= comment.comment %>
            </div>
        </div>
      </div>
		</div>
		<br/>
		<br/>
		<br/>
		<% end %>
	</div>
</section>
